
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:97.5vh;
    background:url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size:cover;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
}

.container-content{
    display:flex;
align-items: center;
}
.left{
    width:60vw;
}
.right{
    width:40vw;
    background:url("images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    
    
}
.text{
   margin:20px 120px;

}
.logo {
   position:relative;
   top:-80px;
}
.bg-mobile{
    display:none;
}
h1{
    width:20%;
    font-size:60px;
    letter-spacing: 15px;
}
p {
    line-height:30px;
    width:60%;
    margin-top:-20px;
    color:hsl(0, 36%, 70%);
}
form {
    margin-top:30px;
    position:relative;
}
input {
    border:1px solid hsl(0,36%,70%);
    background-color:transparent;
    padding:15px;
    border-radius:50px;
    width:100%;
    font-size:16px;
    
}
.btn-email {
    position:absolute;
    right:0;
    height:50px;
    top:0.5px;
    cursor:pointer;
    border-radius:50px;
    padding:15px;
    background-image:linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border:none;
    width:15%;
    color:hsl(0, 36%, 70%);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.btn-email:hover {
    background-image:linear-gradient(135deg,hsl(0, 80%, 90%), hsl(0, 74%, 90%));
}
.for-email:focus {
    outline:none;
}
.btn-email:focus{
    outline:none;
}
span{
    font-size:60px;
    letter-spacing: 15px;
    margin-left:-10px;
    color:hsl(0, 36%, 70%);
    position: relative;
    top:30px;
    font-weight: 200;
}
@media(max-width:800px) {
    .container-content {
        flex-direction: column-reverse;
    }
    .left{
        width:100%;
        text-align:center;
    }
    .right{
        
        
        
        display:none;
       

    }

    .bg-mobile{
        display:block;
        width:99.5vw;
        position: relative;
        top:20px;
    }
    .logo{
        position: static;
      margin-top:90px;
    float:left;
    margin-left:20px;
    }
    h1{
        width:100%;
        
    }
    p{
        width:85%;
        margin:10px auto;
    }
    input{
        width:70%;
       
        
    }
    .btn-email {
        right:40px;
        

    }
    .text{
        margin:50px 0;
    }
    h1,span{
        font-size:50px;
    }
    .logo{
         width:50%;
    }
}